@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    })
    function loadData() {
        $.ajax({
            url: "/Booking/GetBookingList",
            type: "GET",
            contentType: "application/json",
            dataType: "",
            success: function (response) {
                console.log(response);
                var html = '';
                $.each(response, function (key, item) {
                    console.log(key);
                    startDate = item.startDate;
                    startDate = startDate.substr(0, 10);
                    endDate = item.endDate;
                    endDate = endDate.substr(0, 10);
                    html += '<tr>';
                    html += '<td>' + item.userName + '</td>';
                    html += '<td>' + item.email + '</td>';
                    html += '<td>' + item.flightId + '</td>';
                    html += '<td>' + item.departure + '</td>';
                    html += '<td>' + item.arrival + '</td>';
                    html += '<td>' + startDate + '</td>';
                    html += '<td>' + endDate + '</td>';
                    
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>
<main>
    <center>
        <br />
        <center><h2 class="airport-heading2">Booking List</h2></center>
        <br />
        <div class="row container"> 
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>UserName</td>
                        <td>Email</td>
                        <td>FlightId</td>
                        <td>Departure</td>
                        <td>Arrival</td>
                        <td>Departure Time</td>
                        <td>Arrival Time</td>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @*Booking records will to populated here*@
                </tbody>
            </table>
        </div>
    </center>
</main>