@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/booking.css" type="text/css" media="all" />

<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    })
    function loadData() {
        $.ajax({
            url: "/Booking/GetMyBooking",
            type: "GET",
            contentType: "application/json",
            dataType: "",
            success: function (response) {
                console.log(response);
                var html = '';
                $.each(response, function (key, item) {
                   // console.log(key);
                    startDate = item.startDate;
                    startDate = startDate.substr(0, 10);
                    endDate = item.endDate;
                    endDate = endDate.substr(0, 10);
                    html += '<tr>';
                    html += '<td>' + item.flightId + '</td>';
                    html += '<td>' + item.departure + '</td>';
                    html += '<td>' + item.arrival + '</td>';
                    html += '<td>' + startDate + '</td>';
                    html += '<td>' + endDate + '</td>';
                    html += '<td><a href="#" onClick="return CancelBooking(' + item.bookingId + ')">Cancel</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function CancelBooking(bookingId) {
        var ans = confirm('Are you sure you want to cancel this booking?');
        if (ans) {
            $.ajax({
                url: "/Booking/CancelBooking/" + bookingId,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    loadData();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>

<main>
    <div class="photo-background-container">
        <div class="overlay"></div>
        <img class="background-image" src="~/images/my-bookings-hero.jpg">
        <div class="inner-container">
            <h1>My Bookings</h1>
        </div>
    </div>

    <div class="container flight-data-container">
        <div class="table-holder justify-content-center align-items-center">
            <center>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Flight ID</td>
                            <td>Departure Airport</td>
                            <td>Arrival Airport</td>
                            <td>Departure Time</td>
                            <td>Arrival Time</td>
                            <td>Action(s)</td>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @*Booking records will to populated here*@
                    </tbody>
                </table>
            </center>
        </div>
    </div>
</main>