@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#alertSuccess").hide();
        $('#alertDanger').hide();
        GetAirports();
    })

    function BookFlight() {

        $('#destinationId').val($('#arrivalAirport').val());
        $('#locationId').val($('#departureAirport').val());
        
        var flightObj = {
            DestinationId: $('#destinationId').val(),
            LocationId: $('#locationId').val(),
            NumberOfPassengers: $('#passengerNumber').val(),
            StartDate: $('#startDate').val(),
            EndDate: $('#endDate').val(),
            Id: $('#hiddenUserId').val()
        }

        console.log(flightObj);

        $.ajax({
            url: "/Home/BookFlight",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(flightObj),
            success: function (response) {
                console.log(response);
                if (response == 'success') {
                    $('#alertSuccess').show()
                    $('#alertSuccess').text("Flight has been successfully booked!")
                } else {
                    $('#alertDanger').show()
                    $('#alertDanger').text("Some error occured, try again!")
                }
            },
            error: function (errorMessage) {
                $('#alertDanger').show()
                $('#alertDanger').text("errorMessage.responseText")
            }
        })
    }

    function GetAirports() {
        $.ajax({
            url: "/Home/GetAirports",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                console.log(response);
                var dropdown = $('.airportDropdown');
                dropdown.empty();
                $.each(response, function (index, item) {
                    dropdown.append($('<option></option>').attr('value', item.value).text(item.text));
                });
            },
            error: function (error) {
                alert('Error fetching airports: ' + error);
            }
        })
    }

    function GetFlights() {
        $.ajax({
            url: "/Home/GetFlights",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                console.log(response);
                $.each(response, function () {
                    
                });
            },
            error: function (error) {
                alert('Error fetching airports: ' + error);
            }
        })
    }

</script>

<div class="container">
    <input type="hidden" id="hiddenUserId" value="@ViewBag.UserId" />
    <form class="d-flex flex-row align-items-center justify-content-center" style="gap: 15px">
        <span hidden id="locationId"></span>
        <select class="airportDropdown form-control form-control-lg rounded-pill" id="departureAirport" style="width: 250px;">
            <option value="" disabled selected>Departure Airport</option>
            <option value="">Loading...</option>
        </select>

        <span hidden id="destinationId"></span>
        <select class="airportDropdown form-control form-control-lg rounded-pill" id="arrivalAirport" style="width: 250px;">
            <option value="" disabled selected>Arrival Airport</option>
            <option value="">Loading...</option>
        </select>

        <input type="date" class="form-control form-control-lg rounded-pill" id="startDate" style="width: 200px;" />

        <input type="date" class="form-control form-control-lg rounded-pill" id="endDate" style="width: 200px;" />

        <div class="input-group" style="width: 100px;">
            <input type="number" class="form-control form-control-lg rounded-pill" id="passengerNumber" value="0" min="0" max="25">
        </div>

        <button type="button" class="btn btn-primary rounded-pill btn-lg" style="height: 100%;" id="btnAdd" onclick="BookFlight()">Book It!</button>
    </form>
    <div class="col-md-6">
        <div class="alert alert-success" id="alertSuccess"></div>
        <div class="alert alert-danger" id="alertDanger"></div>
    </div>
</div>

