@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        loadData();
        $('#alertSuccess').hide();
        $('#alertDanger').hide();
    })

    function loadData() {
        $.ajax({
            url: '/Airport/GetAirports/',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                console.log(response);
                var html = '';
                $.each(response, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.cityName + '</td>';
                    html += '<td>' + item.airportName + '</td>';
                    html += '<td><a href="#" onclick= "return getLocationById(' + item.locationId + ')">Edit Airport</a> | <a href="#" onclick= "deleteAirport(' + item.locationId + ')"> Delete Airport</a></td>';
                    html += '</tr>'
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function addAirport() {
        var airportObj = {
            CityName: $('#cityname').val(),
            AirportName: $('#airportname').val().toUpperCase()
        };

        if (!isAirportNameValid(airportObj.AirportName) && !isAirportCityValid(airportObj.CityName)) {
            $('#alertDanger').text('Invalid input. Example: Winnipeg (City), YYG (Airport)');
            return;
        }

        $.ajax({
            url: '/Airport/AddAirport/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(airportObj),
            success: function (response) {
                
                if (response == true) {
                    loadData();
                    $('#myModal').modal('hide');
                    $('.modal-backdrop').remove();
                    $('#alertSuccess').show();
                    $('#alertSuccess').text('Destination has been successfully added');
                }
                else {
                    $('#alertDanger').show();
                    $('#alertDanger').text('Invalid input, please try again');
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function deleteAirport(locationId) {
        var ans = confirm('Are you sure you want to delete this?');
        if (ans) {
            $.ajax({
                url: '/Airport/DeleteAirport/',
                data: JSON.stringify({ locationId: locationId }),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    console.log("Success callback executed!");
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText)
                }
            });
        }
    }

    function clearTextBoxes() {
        $('#airportname').val("");
        $('#cityname').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#errorMessage').text("");
    }

    function isAirportNameValid(value){
        var airportLocation = /^[A-Za-z]{3}$/;
        return airportLocation.test(value);
    }

    function isAirportCityValid(value){
        var airportName = /^[A-Za-z]+$/;
        return airportName.test(value);
    }
 

</script>

<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBoxes();">Add Destination</button>

    <center><h2>Airports</h2></center>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>City Name</td>
                <td>Airport Name</td>
                <td>Edit or Delete</td>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add Airport</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>

                        <input type="hidden" id="locationid" />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="airportname" placeholder="Name of Airport" />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cityname" placeholder="City of Airport" />
                                </div>
                            </div>
                        </div>

                        <p style="color:blue" id="alertSuccess"></p>
                        <p style="color:red" id="alertDanger"></p>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" id="btnAdd" onclick="return addAirport();">Add</button>
                    <button type="button" class="btn btn-outline-primary" id="btnUpdate" onclick="update();">Update</button>
                </div>

            </div>
        </div>
    </div>
</div>